:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}
body {
  background-image: url(/images/bg-desktop.svg);
  background-color: var(--violet);
  background-repeat: no-repeat;
}
.container {
  margin: 3% auto;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.logo {
  width: 100px;
}
.area {
  margin: 8% auto 2% auto;
}
.image-area {
  flex: 1.5;
}
.text-area {
  flex: 1;
  padding: 40px 70px;
}
.heading {
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.button {
  color: var(--violet);
  background-color: white;
  padding: 15px 55px;
  border: 1px solid var(--violet);
  border-radius: 50px;
  box-shadow: -1px 11px 20px rgba(0, 0, 0, 0.2);
}
.button:active {
  background-color: var(--soft-magenta);
  color: white;
}
ul {
  padding-right: 4%;
  margin: 0;
  list-style: none;
}
li {
  margin: 5px;
  display: inline;
  border: 1px solid white;
  border-radius: 50px;
}
li a {
  color: white;
}
li:active {
  border: 1px solid var(--soft-magenta);
}
li a:active {
  color: var(--soft-magenta);
}
li:nth-child(1) {
  padding: 7px 12px;
}
li:nth-child(2) {
  padding: 7px 9px;
}
li:nth-child(3) {
  padding: 7px 9px;
}
.socials {
  justify-content: end;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 600px) {
  body {
    background-image: url(/images/bg-mobile.svg);
  }
  .container {
    padding: 5% 10%;
  }
  .area {
    margin: 20% auto 2% auto;
  }
  .text-area {
    padding: 40px 0;
    text-align: center;
  }
  .heading {
    font-size: 24px;
    line-height: 36px;
  }
  .button {
    padding: 10px 25%;
  }
  .socials {
    justify-content: center;
    margin: 20% auto;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
